<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sensores{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/basePerfil.css">
</head>
<body>
    <div class="navbar">
        {% if 'username' in session %}
            {% if inicio != 'inicio' %}
                <a class="a1" href="{{ url_for('inicio') }}">Volver Atrás</a>
            {% endif %}
            <a class="a" href="{{ url_for('logout') }}">Cerrar sesión</a>
        {% endif %}
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
