<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar contraseña</title>
    <link rel="stylesheet" type="text/css" href="/static/css/changePassword.css">
    <script src="/static/js/changePassword.js"></script>
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1>Cambiar Contraseña</h1>
            <form action="/changePasswordMail" method="POST">
                <div class="form-group">
                    <label for="new_password">Nueva Contraseña</label>
                    <input type="password" id="new_password" name="new_password" required>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirmar Nueva Contraseña</label>
                    <input type="password" id="confirm_password" name="confirm_password" required>
                </div>
                <input type="hidden" id="username" name="username" value="{{ username }}">
                <input type="submit" value="Cambiar">
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div id="flash-message" class="flash-message">
                        {{ messages[-1] }}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</body>
</html>
