<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="/static/css/forgotPassword.css">
    <script src="/static/js/forgotPassword.js"></script>
</head>
<body>
    <div class="navbar">
        <a class="a" href="login">Iniciar sesión</a>
        <a class="a" href="register">Registrarse</a>
    </div>
    <div class="container">
        <div class="form-box">
            <h1>¿Has olvidado la contraseña?</h1>
            <form method="post" action="/forgotPassword">
                <div class="form-group">
                    <label for="username">Usuario:</label>
                    <input type="text" name="username" id="username" required>
                </div>
                <div class="form-group">
                    <label for="email">Correo electrónico:</label>
                    <input type="email" name="mail" id="mail" required>
                </div>
                <input type="submit" value="Enviar">
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div id="flash-message" class="flash-message">
                        {{ messages[-1] }}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</body>
</html>
